{% load sekizai_tags %}{% spaceless %}

    {% addtoblock 'css' %}<link rel="stylesheet" href="{{ STATIC_URL }}sb_link/link.css" />{% endaddtoblock %}
    {% block extra %}{% endblock %}

    {% if instance.parent.plugin_type == 'TextPlugin' %}
        <a {{ instance.link_attrs }}{% if sb_link_a_class or instance.is_underlined != '' %} class="{{ sb_link_a_class }}{% if instance.is_underlined %} underlined{% elif instance.is_underlined == False %} not_underlined{% endif %}"{% endif %}>{{ instance.get_title }}</a>
    {% else %}
        <div class="sb_link{% block sb_link_class %}{% if sb_link_class %} {{ sb_link_class }}{% endif %}{% endblock %}{% if instance.alignment %} align_{{ instance.alignment }}{% endif %}">
            <a {{ instance.link_attrs }}{% if sb_link_a_class or instance.is_underlined != '' %} class="{% block sb_link_a_class %}{{ sb_link_a_class }}{% endblock %}{{ instance.is_underlined|yesno:' underline, not_underline,' }}"{% endif %}>
                {% if instance.child_plugin_instances %}
                    {% load cms_tags %}
                    <object type="wa" class="sb_link_{{ instance.id }}">{% for plugin in instance.child_plugin_instances %}{% render_plugin plugin %}{% endfor %}</object>
                {% else %}
                    {{ instance.get_title }}
                {% endif %}
            </a>
        </div>
    {% endif %}
{% endspaceless %}